<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  	<connectionStrings>
		  <add name="casestudyconn" connectionString="integrated security=true;data source=DESKTOP-7JCEVO5;initial catalog=casestudy"/>
	  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>